streamlit
google-cloud-aiplatform
googlemaps
google-genai
python-dotenv
google-cloud-discoveryengine
google-cloud-translate
beautifulsoup4
requests
google-cloud-documentai
folium
streamlit-folium
st-annotated-text
pyotp
google-cloud-text-to-speech
streamlit-mic-recorder
plotly
streamlit-lottie
opencv-python-headless